#root{
    background-color: #FFC75F;
    height: 150vh;
}


nav{
    background-color: #FFC75F;
}
h2{
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#845EC2;
  }
  nav li {
    float: right;
  }
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav a {
    display: block;
    padding: 8px;
    background-color: #845EC2;
    color: black;
  }

  nav li a:hover{
    background-color: #333;
  }

  .NavbarLogo{
    float: left;
    max-height: 52px;
    
    
  }
  .NavbarLogo span{
    margin-top: .2rem;
    font-size: xx-large;
    color: white;
    font-family: 'Love Ya Like A Sister', cursive;
  }
  .NavbarLogo img{
    margin-bottom: 1rem;
    margin-left: .5rem;
    margin-right: 1rem;
  }
  .LoginForm{
    animation: slideInUp;
    animation-duration: 5s;
    margin: auto;
    margin-top: 10rem;
    padding: 1rem;
    background-color: white;
    width: fit-content;
    border-radius: 9px;
  }
  .LoginForm form input{
    background: transparent;
    border: none;
  }
  .LoginForm form button{
    background: #845EC2;
    border: none;
    border-radius: 9px;
    padding: 10px;
    color: white;
  }
  form input:focus{
    outline-width: 0;
  }

  .ImageView{
    animation: slideInUp;
    animation-duration: 5s;
    background-color: white;
    height: 50rem;
    margin: 5rem;
    border-radius: 9px;
    overflow: scroll;
  }

  .TranslationForm{
    animation: slideInUp;
    animation-duration: 5s;
    margin: auto;
    margin-top: 10rem;
    background-color: white;
    width: fit-content;
    padding: 1rem;
    border-radius: 9px;
  }
  .TranslationForm form button{
    background: #845EC2;
    border: none;
    border-radius: 9px;
    padding: 10px;
    color: white;
  }
  .TranslationForm form input{
    width: 40rem;
    background: transparent;
    border: none;
  }
  .UserHeader h3{
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: center;
  }
  .UserProfileButtons{
    width: fit-content;
    margin: auto;
  }
  .UserProfileButtons button{
    margin: 2rem;
    background-color: #845EC2;
    border: none;
  }
  .UserProfileButtons button:hover{
    background-color: white;
    color: #333;
  }
  .EditUser{
    animation: slideInUp;
    animation-duration: 5s;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    background-color: white;
    border-radius: 9px;
  }
.EditUser ul{
    font-family: 'Love Ya Like A Sister', cursive;
    margin: auto;
}
.EditUser h3{
    font-family: 'Love Ya Like A Sister', cursive;
    margin-top: 2rem;
    text-align: center;
}
.EditUser h2{
    background-color: #845EC2;
    border-radius: 9px 9px 0px 0px;
    margin-bottom: 2rem;
    height: 3rem;
    
}
.EditUser form label{
    margin-right: 2rem;
    margin-left: 1 rem;
}

.LoginFormHeader{

    display: inline-block;
    margin-left: 30rem;
    margin-top: 5rem;
}
.LoginFormHeader img{
    height: 15rem;
    width: fit-content;
}
.LoginFormHeaderText{
    margin-left: 5rem;
    width: fit-content;
    float: right;
    margin-top: 7rem;
    color: white;
    font-family: 'Love Ya Like A Sister', cursive;
}


